div(class="small-3 columns menu")
    h3 Zeki v0.0.1
    ul
        li: a(href="/docs/index.html" target="_blank") Sass Guide
        li General
            ul
                li: a(href="/public/dist/html/grid.html") Grid
                li: a(href="") Form
                li: a(href="") Sass
        li Component
            ul
                li: a(href="#/partials/button") Button
                li: a(href="/public/dist/html/button-group.html") Button Group
                li: a(href="#/partials/icons") Icons
                li: a(href="") Slider
                li: a(href="") Swich
        li Navigation
            ul
                li: a(href="") Pagination
                li: a(href="") Breadcrumbs
        li Containers
            ul
                li: a(href="") Dropdown
                li: a(href="") Modal
                li: a(href="") table
                li: a(href="") tabs
div(class="small-9 columns contents")
    block contents